body {
    background-color: #c7e19f;
}

h1 {
    color: #459571;
    text-align: center;
    font-family: 'Georgia', serif;
    font-size: 50px;
}

img {
    opacity: 0.8;
    width: 500px;
    height: 300px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

.para1 {
    color: #e34b2c;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 15px;
}

p {
    margin: 30px;
    background-color: #95a547;
    color: #a54747;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.para2 {
    color: #e34b2c;
    font-family: sans-serif;
    font-size: 15px;
}

table, th, td {
    border: 1px solid;
    background-color: #cd7dd1;
}

ul {
    background-color: #7dc6d1;
    padding: 30px;
    border: 2px solid #ddd;
    border-radius: 8px;
    margin: 20px 0;
}

h2 {
    color: #b33695;
    font-family: 'Papyrus', Fantasy;
    font-size: 20px;
}

h3 {
    color: #1779ad;
    font-family: 'Courier New', Monospace;
    font-size: 20px;
}

h4 {
    color: #9d939b;
    font-family: 'Lucida Handwriting', Cursive;
    font-size: 20px;
}
#anul-nasterii {
    font-size: 18px;
    color: #2c3e50;
    transition: color 0.3s ease;
}
    #anul-nasterii:hover {
        color: #3498db; 
        cursor: pointer;
    }