BODY
{background-color:lightblue;
}
h1{
    color:crimson;
    font-family: serif;
    font-size:40px;
}
p{
    color:darkmagenta;
    font-family:sans-serif;
    font-size:28px;
}
h2{
    color:cornflowerblue;
    font-family:Arial, Helvetica, sans-serif;
    font-size:29px; 
}
ul {
    border: 3px solid;
    color: #3399ff;
    margin:4px;
    padding:10px;
}
    ul li {
        background: #ff9999;
        color: darkblue;
        margin: 5px;
    }
