BODY
{background-color:seashell;
}
h1 
{color:saddlebrown;
 text-align: center;
}
h2{
    color:cadetblue;
}
h3 {
    color: burlywood;
    font-family: Verdana;
    font-size:21px;
}
#para1{
    color:darkgreen;
    font-family: sans-serif;
    font-size:20px;
}
#para2{
    color:red;
    font-family:Arial;
    font-size:22px;
}
#para3{
    color:darkolivegreen;
    font-family:Calibri;
    font-size:23px;
}
img{
    opacity:0.9;
    border-radius:100px;
    width:200px;
    height:300px;
}
table,th,td{
    border:2px solid;
    background-color:burlywood;
}
ul{
    padding:15px;
    border:1px solid;
    background-color:rosybrown;
}